* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#chat_container {
    outline: 1px solid black;
    margin: 15px;
}
#chat_log {
    padding: 10px;
    outline: 1px solid black;
    overflow-y: scroll;
    height: 200px;
    font-size: 26px;
}
#chat_input_container {
    padding: 10px;
}
#chat_input {
    padding: 2px;
    font-size: 14px;
    width: 100%;
}